body {
  font-family: Arial;
  background: #f7f7f7;
  padding: 20px;
}

.container {
  max-width: 400px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
  margin-top: 10px;
  padding: 8px 20px;
}
